<template x-component="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" x-transition>
        <div class="container px-5">
            <a class="navbar-brand" href="/">
                <img src="/assets/draftsman-logo.png" height="40px" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin-console/graphiql">API</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" @click="Draftsman.clear_cache();location.reload()">Clear cache</a>
                    </li>
                    <li class="nav-item" x-show="!localStorage.token">
                        <a href="#" class="nav-link" @click="Draftsman.sign_in();">Sign in</a>
                    </li>
                    <li class="nav-item" x-show="localStorage.token">
                        <a href="#" class="nav-link" @click="Draftsman.sign_out();">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>