<template x-component="basic-modal">
  <div x-data="{name : $prop('alias')}" x-import="utils/tables">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" x-show="$prop('button-text')"
            :data-bs-target="'#modal' + name" x-text="$prop('button-text')">
    </button>

    <!-- Modal -->
    <div class="modal fade" :id="'modal_' + name" tabindex="-1"
         data-bs-backdrop="static"
         :aria-labelledby="'modallabel' + name" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" :id="'modallabel' + name" x-text="$prop('title')"></h1>
            <button type="button" class="btn-close"
                    @click="Draftsman.empty_track_and_trace_log();"
                    data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div :id="'modal_body_' + name"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>